<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Account-Owner Home</a>
    </div>
    <ul class="nav">
      <li><a [routerLink]="['/owner/list']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Owner Actions</a></li>
      <li><a href="#">Account Actions</a></li>
    </ul>
  </div>
</nav>